In [1]:
%load_ext autoreload
%autoreload 2Basic

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import sys
sys.path = [".."] + sys.path

In [4]:
import src.basic_assignment as ba

In [10]:
observers = ba.get_observer_dataset()
precinct = ba.get_precinct_dataset()

In [11]:
params = ba.load_yaml_config()["outside_both"]

In [12]:
_ = ba.assign_observers(precinct, observers, "inside", True)

inside True PRECINCT SHAPE:  (0, 1)

In [8]:
precinct['inside_observer']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
201    NaN
202    NaN
203    NaN
204    NaN
205    NaN
Name: inside_observer, Length: 206, dtype: object

In [9]:
ba.get_precinct_dataset()

,Pct,Polling Place Name,Address,City,State,Zip,Priority,inside_observer,inside_legal,outside_am_observer,outside_am_legal,outside_pm_observer,outside_pm_legal
0,01-01,BROOKS AVENUE CHURCH OF CHRIST,700 BROOKS AVE,RALEIGH,NC,27607,1,NaN,NaN,NaN,NaN,NaN,NaN
1,01-02,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH,3313 WADE AVE,RALEIGH,NC,27607,2,NaN,NaN,NaN,NaN,NaN,NaN
2,01-03,ST JOHNS BAPTIST CHURCH,1615 OBERLIN RD,RALEIGH,NC,27608,3,NaN,NaN,NaN,NaN,NaN,NaN
3,01-04,DANIELS MIDDLE SCHOOL,2816 OBERLIN RD,RALEIGH,NC,27608,4,NaN,NaN,NaN,NaN,NaN,NaN
4,01-05,WHITE MEMORIAL PRESBYTERIAN CHURCH,2010 MCDONALD LN,RALEIGH,NC,27608,5,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,20-12,OLIVE CHAPEL ELEMENTARY SCHOOL,1751 OLIVE CHAPEL RD,APEX,NC,27502,202,NaN,NaN,NaN,NaN,NaN,NaN
202,20-14,WHITE OAK MISSIONARY BAPTIST CHURCH,1621 WHITE OAK CHURCH RD,APEX,NC,27523,203,NaN,NaN,NaN,NaN,NaN,NaN
203,20-15,ALSTON RIDGE ELEMENTARY SCHOOL,11555 GREEN LEVEL CHURCH RD,CARY,NC,27519,204,NaN,NaN,NaN,NaN,NaN,NaN
204,20-16,MILLS PARK ELEMENTARY SCHOOL,509 MILLS PARK DR,CARY,NC,27519,205,NaN,NaN,NaN,NaN,NaN,NaN
205,20-17,HIGHCROFT DRIVE ELEMENTARY SCHOOL,5415 HIGHCROFT DR,CARY,NC,27519,206,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
_ = ba.assign_observers(precinct, observers, "outside_both", True)

outside_both True PRECINCT SHAPE:  (206, 2)
outside_all_day 206 206
(206, 2)

In [18]:
precinct['outside_pm_observer'].iloc[-1]

nan

In [100]:
available_obs = ba.get_available_observers(
        observers, missing_observer.sum(), params["observer_availability"], False,
    )

In [117]:
precinct.loc[
        missing_observer, params["precinct_observer"]
    ]

    outside_pm_observer outside_am_observer
28                  NaN                 NaN
29                  NaN                 NaN
30                  NaN                 NaN
31                  NaN                 NaN
32                  NaN                 NaN
..                  ...                 ...
201                 NaN                 NaN
202                 NaN                 NaN
203                 NaN                 NaN
204                 NaN                 NaN
205                 NaN                 NaN

[178 rows x 2 columns]

In [122]:
precinct.loc[
        missing_observer, params["precinct_observer"]
    ] = np.repeat(available_obs, 2).reshape(178, -1).squeeze()

In [126]:
params["observer_availability"]

'outside_all_day'

In [128]:
a_names = ba.get_available_observers(
        observers, missing_observer.sum(), params["observer_availability"], True,
    )
np.repeat(a_names, 2).reshape(missing_observer.sum(), -1).squeeze()

array([[nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan],
       [nan, nan]], dtype=object)

In [85]:
_ = ba.assign_observers(precinct, observers, "outside_am", True)

In [66]:
precinct[precinct['Polling Place Name'] == 'WALNUT TERRACE']

,Pct,Polling Place Name,Address,City,State,Zip,Priority,inside_observer,inside_legal,outside_am_observer,outside_am_legal,outside_pm_observer,outside_pm_legal
23,01-25,WALNUT TERRACE,1256 MCCAULEY ST,RALEIGH,NC,27601,24,Sarah Ford,True,NaN,NaN,NaN,NaN

In [87]:
observers[(observers.inside_all_day == False) & (observers.outside_all_day == True) & (observers.legal_background == True)].head(10)

,assigned_am,assigned_pm,name,phone_number,date_entered,election_day,legal_background,post_code,comments,inside_all_day,outside_AM,outside_PM,outside_all_day,inside_location,outside_am_location
100,True,NaN,Michelle Brainard,9198154012,9/16/2020 13:31:23,ALL DAY - OUTSIDE,True,27614,No,False,True,True,True,NaN,BROOKS AVENUE CHURCH OF CHRIST
72,True,NaN,John Burns,9193066906,9/15/2020 9:51:21,ALL DAY - OUTSIDE,True,27613,I can either do hotline on Election Day or out...,False,True,True,True,NaN,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH
66,True,NaN,Harry Johnson,7047561211,9/15/2020 8:02:22,"OUTSIDE AM (6:30 AM - 1:30 PM), OUTSIDE PM (1:...",True,27604,,False,True,True,True,NaN,ST JOHNS BAPTIST CHURCH
56,True,NaN,Joseph D Ableidinger,9192719252,9/14/2020 15:48:04,"OUTSIDE AM (6:30 AM - 1:30 PM), OUTSIDE PM (1:...",True,27612,I marked all days/times because my schedule is...,False,True,True,True,NaN,DANIELS MIDDLE SCHOOL
7,True,NaN,Sa'Metria Jones,9196055148,9/12/2020 14:36:18,"OUTSIDE AM (6:30 AM - 1:30 PM), OUTSIDE PM (1:...",True,27610,,False,True,True,True,NaN,WHITE MEMORIAL PRESBYTERIAN CHURCH
210,True,NaN,Meeghan Ramsey,9195183065,9/26/2020 7:29:46,"ALL DAY - OUTSIDE, OUTSIDE AM (6:30 AM - 1:30 ...",True,27539,Litigation paralegal,False,True,True,True,NaN,CAMERON VILLAGE REGIONAL LIBRARY
158,True,NaN,Matt Bullard,9196056887,9/21/2020 15:22:39,ALL DAY - OUTSIDE,True,27605,If you don't have enough inside observers clos...,False,True,True,True,NaN,EDENTON STREET UNITED METHODIST CHURCH
143,True,NaN,Zach Padget,9192711956,9/20/2020 9:55:57,ALL DAY - OUTSIDE,True,27609,"I'm happy to work all day on election day, but...",False,True,True,True,NaN,SAINT SAVIOUR'S CENTER
315,True,NaN,Susan J Vanderweert,9192158725,10/10/2020 8:07:04,"OUTSIDE AM (6:30 AM - 1:30 PM), OUTSIDE PM (1:...",True,27612,,False,True,True,True,NaN,OUR SAVIOR LUTHERAN CHURCH
247,True,NaN,Scott Beaver,9197403325,10/1/2020 12:29:49,ALL DAY - OUTSIDE,True,27615,I am an attorney. Due to work/vacation constra...,False,True,True,True,NaN,WESTMINSTER PRESBYTERIAN CHURCH

In [88]:
_ = ba.assign_observers(precinct, observers, "outside_pm", True)

In [89]:
precinct[precinct['Polling Place Name'] == 'WALNUT TERRACE']

,Pct,Polling Place Name,Address,City,State,Zip,Priority,inside_observer,inside_legal,outside_am_observer,outside_am_legal,outside_pm_observer,outside_pm_legal
23,01-25,WALNUT TERRACE,1256 MCCAULEY ST,RALEIGH,NC,27601,24,Sarah Ford,True,NaN,NaN,Beckie Moriello,True

In [42]:
obs_outside_only = observers[(observers.outside_all_day == True) & (observers.inside_all_day == False)].head()
locs = precinct[precinct['Polling Place Name'].isin(obs_outside_only['outside_am_location'])]
obs_outside_only

,assigned_am,assigned_pm,name,phone_number,date_entered,election_day,legal_background,post_code,comments,inside_all_day,outside_AM,outside_PM,outside_all_day,inside_location,outside_am_location,outside_pm_location
100,True,True,Michelle Brainard,9198154012,9/16/2020 13:31:23,ALL DAY - OUTSIDE,True,27614,No,False,True,True,True,NaN,BROOKS AVENUE CHURCH OF CHRIST,BROOKS AVENUE CHURCH OF CHRIST
72,True,True,John Burns,9193066906,9/15/2020 9:51:21,ALL DAY - OUTSIDE,True,27613,I can either do hotline on Election Day or out...,False,True,True,True,NaN,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH
70,NaN,NaN,Morgan Smith,2517534558,9/15/2020 8:31:56,ALL DAY - OUTSIDE,False,27615,,False,True,True,True,NaN,NaN,NaN
66,True,True,Harry Johnson,7047561211,9/15/2020 8:02:22,"OUTSIDE AM (6:30 AM - 1:30 PM), OUTSIDE PM (1:...",True,27604,,False,True,True,True,NaN,ST JOHNS BAPTIST CHURCH,ST JOHNS BAPTIST CHURCH
243,NaN,NaN,Kyle Huey,8179290094,10/1/2020 10:40:38,ALL DAY - OUTSIDE,False,27615,Will have a car and need be at same location(s...,False,True,True,True,NaN,NaN,NaN

In [43]:
_ = ba.assign_observers(precinct, observers, "inside", False)

In [44]:
obs_outside_only = observers[(observers.outside_all_day == True) & (observers.inside_all_day == False)].head()
locs = precinct[precinct['Polling Place Name'].isin(obs_outside_only['outside_am_location'])]
obs_outside_only

,assigned_am,assigned_pm,name,phone_number,date_entered,election_day,legal_background,post_code,comments,inside_all_day,outside_AM,outside_PM,outside_all_day,inside_location,outside_am_location,outside_pm_location
100,True,True,Michelle Brainard,9198154012,9/16/2020 13:31:23,ALL DAY - OUTSIDE,True,27614,No,False,True,True,True,NaN,BROOKS AVENUE CHURCH OF CHRIST,BROOKS AVENUE CHURCH OF CHRIST
72,True,True,John Burns,9193066906,9/15/2020 9:51:21,ALL DAY - OUTSIDE,True,27613,I can either do hotline on Election Day or out...,False,True,True,True,NaN,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH
70,NaN,NaN,Morgan Smith,2517534558,9/15/2020 8:31:56,ALL DAY - OUTSIDE,False,27615,,False,True,True,True,NaN,NaN,NaN
66,True,True,Harry Johnson,7047561211,9/15/2020 8:02:22,"OUTSIDE AM (6:30 AM - 1:30 PM), OUTSIDE PM (1:...",True,27604,,False,True,True,True,NaN,ST JOHNS BAPTIST CHURCH,ST JOHNS BAPTIST CHURCH
243,NaN,NaN,Kyle Huey,8179290094,10/1/2020 10:40:38,ALL DAY - OUTSIDE,False,27615,Will have a car and need be at same location(s...,False,True,True,True,NaN,NaN,NaN

In [45]:
precinct[precinct['Polling Place Name'] == 'WALNUT TERRACE']

,Pct,Polling Place Name,Address,City,State,Zip,Priority,inside_observer,inside_legal,outside_am_observer,outside_am_legal,outside_pm_observer,outside_pm_legal
23,01-25,WALNUT TERRACE,1256 MCCAULEY ST,RALEIGH,NC,27601,24,Sarah Ford,True,NaN,NaN,Beckie Moriello,True

In [24]:
_ = ba.assign_observers(precinct, observers, "outside_am", False)

In [25]:
observers[(observers.outside_all_day == True) & (observers.inside_all_day == False)].head()

,assigned_am,assigned_pm,name,phone_number,date_entered,election_day,legal_background,post_code,comments,inside_all_day,outside_AM,outside_PM,outside_all_day,inside_location,outside_am_location,outside_pm_location
100,True,True,Michelle Brainard,9198154012,9/16/2020 13:31:23,ALL DAY - OUTSIDE,True,27614,No,False,True,True,True,NaN,BROOKS AVENUE CHURCH OF CHRIST,BROOKS AVENUE CHURCH OF CHRIST
72,True,True,John Burns,9193066906,9/15/2020 9:51:21,ALL DAY - OUTSIDE,True,27613,I can either do hotline on Election Day or out...,False,True,True,True,NaN,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH
70,True,NaN,Morgan Smith,2517534558,9/15/2020 8:31:56,ALL DAY - OUTSIDE,False,27615,,False,True,True,True,NaN,WALNUT TERRACE,NaN
66,True,True,Harry Johnson,7047561211,9/15/2020 8:02:22,"OUTSIDE AM (6:30 AM - 1:30 PM), OUTSIDE PM (1:...",True,27604,,False,True,True,True,NaN,ST JOHNS BAPTIST CHURCH,ST JOHNS BAPTIST CHURCH
243,True,NaN,Kyle Huey,8179290094,10/1/2020 10:40:38,ALL DAY - OUTSIDE,False,27615,Will have a car and need be at same location(s...,False,True,True,True,NaN,CHAVIS COMMUNITY CENTER,NaN

In [26]:
_ = ba.assign_observers(precinct, observers, "outside_pm", False)

In [27]:
observers[(observers.outside_all_day == True) & (observers.inside_all_day == False)].head()

,assigned_am,assigned_pm,name,phone_number,date_entered,election_day,legal_background,post_code,comments,inside_all_day,outside_AM,outside_PM,outside_all_day,inside_location,outside_am_location,outside_pm_location
100,True,True,Michelle Brainard,9198154012,9/16/2020 13:31:23,ALL DAY - OUTSIDE,True,27614,No,False,True,True,True,NaN,BROOKS AVENUE CHURCH OF CHRIST,BROOKS AVENUE CHURCH OF CHRIST
72,True,True,John Burns,9193066906,9/15/2020 9:51:21,ALL DAY - OUTSIDE,True,27613,I can either do hotline on Election Day or out...,False,True,True,True,NaN,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH,UNITARIAN UNIVERSALIST FELLOWSHIP OF RALEIGH
70,True,True,Morgan Smith,2517534558,9/15/2020 8:31:56,ALL DAY - OUTSIDE,False,27615,,False,True,True,True,NaN,WALNUT TERRACE,BROOKS MUSEUMS MAGNET ELEMENTARY SCHOOL
66,True,True,Harry Johnson,7047561211,9/15/2020 8:02:22,"OUTSIDE AM (6:30 AM - 1:30 PM), OUTSIDE PM (1:...",True,27604,,False,True,True,True,NaN,ST JOHNS BAPTIST CHURCH,ST JOHNS BAPTIST CHURCH
243,True,True,Kyle Huey,8179290094,10/1/2020 10:40:38,ALL DAY - OUTSIDE,False,27615,Will have a car and need be at same location(s...,False,True,True,True,NaN,CHAVIS COMMUNITY CENTER,METHOD COMMUNITY CENTER